.card{
    width:200px;
    height:300px;
    border: 1px solid black;
    border-radius: 10%;
    display: flex;
    justify-content: center; /* left and right */
    align-items: center; /*upp and down */
    background-color: white;
    position: relative;

}

body{
    background-color: green;
    display: flex;
    justify-content: center; /* left and right */
    align-items: center; /*upp and down */
    height: 100vh;

}

.head, 
.footer{
    position: absolute; /* absolute to the relative closest parent */
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    /* Worked with absolute and relative (top, left, bottom, right)

    Worked with background-image (background size) */
}


.head {
    top: 10px;
    left: 10px;
  }
  
  .footer {
    bottom: 10px;
    right: 10px;
  }



.spade .head ,
.spade .footer {
    background-image: url('//cdn.pixabay.com/photo/2013/07/12/12/01/suit-of-spades-145116__340.png');
    /* .parent-class .child-class */
}

/* to do:
#change font size, style
#flip footer image  */
